/**
 * Style rules for WordPress theme Enough
 *
 *
 * License: GNU General Public License v2.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * @package Enough
 */
/**
 *
 *
 *
 *
 *
 */

article{
	float:left;
}
/**
 *
 *
 *
 *
 *
 */
.wp-caption{
	margin:.3em;	
	margin:.3rem;	
}
.wp-caption img{
	margin:5px;
}
.wp-caption-text{
	text-align:center;
	width:90%;
	margin:auto;
	max-width:99%;
}

/**
 *
 *
 *
 *
 *
 */
.gallery-item img{
	max-width:100%;
	margin:0;
}
#page dl.gallery-item dd.wp-caption-text{
	text-align:left;
	width:90%;
	margin:0 5%;
}
.gallery-caption,
.bypostauthor{
}

/**
 *
 *
 *
 *
 *
 */
.alignleft {
	display: inline;
	float: left;
}
.alignright {
	display: inline;
	float: right;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
iframe,
.size-full,
.wp-caption .size-full {
	height: auto;
	margin:1%;
	max-width:98%;
}
.wp-caption,
article img{
	max-width:100%;
	height:auto;
}

/**
 *
 *
 *
 *
 *
 */

.entry-content,
.entry-title{
	word-break:break-all;
	word-wrap:break-word;
	max-width:100%;
}
.entry-title{

}
.entry-content{
	margin:0 1em;
	margin:0 1rem;
}

/**
 *
 *
 *
 *
 *
 */

.sticky{
	margin-left:.5em;
	margin-left:.5rem;
	margin-top:1em;
	margin-top:1rem;
}


h1 a,
h2 a,
h3 a{
	text-decoration:none;
}

cite{
	font-size:0.8em;
}

/**
 *
 *
 *
 *
 *
 */
.posted-in,
.posted-on{
	position:relative;
	padding: .5em;
	padding: .5rem;
	word-break:break-all;
	word-wrap:break-word;
}
.posted-on{
	margin:0 0 1em 0;
	margin:0 0 1rem 0;
}
.posted-in li{
	list-style:none;
}
/**
 * message box
 *
 *
 *
 *
 */
.message-box{
	width:80%;
	margin:2em auto;
	margin:2rem auto;
	padding:1em;
	padding:1rem;
}
.archives-title{
	
}
.archives-title-text{
	
}

