/**
 * Style rules for WordPress theme Enough
 *
 *
 * License: GNU General Public License v2.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * @package Enough
 */
#enough-page dl.gallery-item dd.wp-caption-text{
	margin:0 5%;
	text-align:center;
	width:90%;
}

#wp-calendar{
	margin:auto;
	width:90%;
}

#wp-calendar tfoot #prev{
	text-align:left;
}

.aligncenter{
	clear:both;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.alignleft,.nav-previous{
	margin:5px 10px 5px 0;
	display:inline-block;
	float:left;
}

.alignright,.nav-next{
	display:inline-block;
	float:right;
	margin:5px 0 5px 10px;
}

.archives-title-text{
	clear:both;
	margin:0 0 1rem;
	text-align:center;
}
.archive.author .archives-title-text{
	margin-top:-15px;
}
.archives-title-text .avatar{
	position:relative;
	top:15px;
}
.archives-title-text .span{

}

.enough-comment-link{
	position:absolute;
	right:1rem;
}

.entry-content,.entry-title{
	/*margin:10px 14px 10px 24px;*/
	max-width:100%;
	/*word-break:break-all;*/
	/*word-wrap:break-word;*/
}

.gallery-item img{
	margin:0;
	max-width:100%;
}

.message-box{
	margin:2rem auto;
	padding:1rem;
	width:80%;
}

.posted-in li,.toggle-navigation li{
	list-style:none;
}

.posted-in,.posted-on{
	margin-right:3px;
	padding:6px;
	position:relative;
	/*word-break:break-all;*/
	/*word-wrap:break-word;*/
}

.posted-on{
	margin:0 0 10px;
}

.posts-nav-link{
	margin:1rem;
	width:90%;
	max-width:90%;
	margin:auto;
}

.sticky{
	padding:10px 10px 10px 0;
}
.tagcloud-wrapper:after{
clear:both;
}
.tagcloud{
	padding:1em;
}
.tagcloud a{
	display:inline-block;
	padding:.3em 0.5em;
}

.toggle-navigation{
	margin:auto;
}

.toggle-navigation li.enough-toggle-title{
	padding-left:1rem;
}

.unknown nav{
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	margin:0 auto;
	padding-right:1em;
	padding-top:1em;
	width:96.6%;
}
.textwidget{
overflow:hidden;
}
.widget_search .widgettitle,
.widget_calendar .widgettitle,
.widget_text .widgettitle,
.widget_links .widgettitle,
.widget_rss .widgettitle,.widget_categories .widgettitle,.widget_recent_entries .widgettitle,.widget_tag_cloud .widgettitle,.widget_pages .widgettitle,.widget_nav_menu .widgettitle,.widget_recent_comments .widgettitle,.widget_archive .widgettitle,.widget_meta .widgettitle{
	-webkit-margin-after:0;
	-webkit-margin-before:0;
	max-width:100%;
	padding:.6em;
}

.rsswidget img{
	margin:0 5px 0 0;
}
.rsswidget{
	text-decoration:underline;
}
.rss-date{
	display:block;
}
.rssSummary{
	margin-right:5px;
}
.wp-caption{
	/*margin:.3rem;*/
}
.widget_calendar .widgettitle{
	/*text-align:center;*/
	margin-bottom:4px;
}
#calendar_wrap{
	margin-bottom:10px;
}
.wp-caption img{
	margin:5px;
}

.wp-caption,article img{
	height:auto;
	max-width:100%;
}
.enough-w-svga .wp-caption,article img{
	height:auto;
	max-width:96%;
}

.wp-caption-text{
	margin:auto;
	max-width:99%;
	text-align:center;
	width:90%;
}

.wp-link-pages{
	margin:1rem;
	text-align:center;
}

.wp-link-pages > span{
	border:1px solid #999;
	padding:.5em;
}

.wp-link-pages a{
	border:1px solid #999;
	padding:.5rem;
}
.enough-monthly-archive-prev-next-avigation,
article{
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	padding-left:0;
	width:69.4%;
	padding:10px;
}
article.page{
	display:block;
	margin:0 5%;
	padding:0;
	width:auto;
	max-width: 90%;
	box-sizing: border-box;
}
.page-template-default article.type-page {
	display:block;
	float:none;
}

article.page .entry-content,article.page .entry-title{
	margin:0;
}

article.sticky .entry-title,article.sticky .entry-content{
	max-width:90%;
}

div.widget{
	margin-right:10px;
}
.widget ul{
	margin-left:5px;
	padding-left:5px;
}
.widget li{
	margin:0;
	padding:0;
}
.widget li a{
	display:inline-block;
	width:80%;
}
.widget li:not(a){
	font-size:small;
	color:#999;
}
.widget .cat-item .children,
.widget .cat-item .sub-menu{
	margin-left:1em;
}

header img{
	margin:0 0 -2px!important;
	padding:0!important;
	width:100%;
	max-width:100%!important;
	left:0;
	z-index:1;
}

header{
	padding-top:.1rem;
	overflow:hidden;
}
body > header{
 	background-size:cover!important;
}

header h2,header h1{
	margin:0 35px;
}

header,footer{

	position:relative;
}

.size-full,.wp-caption .size-full{
	height:auto;
	margin:1%;
	max-width:98%;
}

nav{
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	margin-left:72%;
	width:28%;
}

nav #searchform{
	margin:10px auto;
	padding:10px;
}

nav #searchform .screen-reader-text,
.width500 nav #__seadragon1,
.width400 nav #__seadragon1,
.width300 nav #__seadragon1,
.width200 nav #__seadragon1,
.width500 nav #__seadragon2,
.width400 nav #__seadragon2,
.width300 nav #__seadragon2,
.width200 nav #__seadragon2,
.width500 nav #__seadragon3,
.width400 nav #__seadragon3,
.width300 nav #__seadragon3,
.width200 nav #__seadragon3,script{
	display:none;
}

nav #searchform input[type=text]{
	width:60%;
}

nav #wp-calendar caption{
	margin:.6em;
}

nav #wp-calendar tbody td a{
	display:block;
	height:100%;
	width:100%;
}
nav #wp-calendar tbody td{
	padding:0;
	text-align:right;
}

nav #wp-calendar tfoot td{
	padding-top:.6em;
}

nav .menu > li ul{
	margin:0 0 0 1rem;
	padding:0;
}

nav .menu > li,.widget > ul > li{
	border-bottom:1px solid rgba(200,200,200,0.4);
	line-height:2;
}
nav .widget_pages .sub-menu,
nav .widget_pages .children{
	margin:0 1em;
}
nav > ul,nav ul.sub-menu,
nav > ul,nav ul.children{
	margin:0;
	padding:0;
}

nav select{
	width:90%;
	max-width:90%;
	margin:5%;
}
nav ul.recentcomments li,nav .widget_meta li,#wp-calendar tfoot td{
	border:none;
}

nav #wp-calendar tbody td a{
	display:block;
	width:100%;
	height:100%;
}

ul,menu,dir{
	-webkit-margin-end:0;
	-webkit-margin-start:0;
	-webkit-padding-start:1rem;
}
#sidebar-1 h2.widgettitle{
	margin:16px 0;
}
#sidebar-1 li:first-child h2{
margin-top:0;
}
.menu-header{
	margin:12px 12px 0;
	z-index:3;
}

.menu-header ul{
	margin:auto;
}

/* post format */
.post-format-content{
	margin:48px 0;
	text-align:center;
}

.post-format-content blockquote{
	text-align:left;
}

.format-link .entry-content a{
	display:block;
	text-align:center;
	margin:64px 0 0;
}
.entry-content{
	margin:0 10px 0 0;
	height:100%;
}
.enough-1col-post .entry-content{
	margin:0;
}
.format-aside,
.format-audio,
.format-link,
.format-video,
.format-gallery,
.format-link,
.format-status,
.format-image,
.format-quote{
}
.format-aside.comments-open .entry-title,
.format-audio.comments-open .entry-title,
.format-link .comments-open .entry-title,
.format-video.comments-open .entry-title,
.format-gallery.comments-open .entry-title,
.format-link.comments-open .entry-title,
.format-status.comments-open .entry-title,
.format-image.comments-open .entry-title,
.format-quote.comments-open .entry-title{
	max-width:100%;
}

.format-standard{
}
.post-format-link{
	font-weight:bold;
	color:gray;
}
.post-format-entry-meta{
	text-align:center;
}
.post-format-entry-meta a{
	display:inline-block;
	padding:6px;
	font-size:small;
	
}
.ecnough-chat-text-after,
.enough-chat-text{
	margin-left:4em;
}
/* from example */

	/* Menu Centerd start */
	.menu-header{
		position: relative;
	}
	.menu-header > ul,
	.menu-header .menu{
		position: relative;
		left: 50%;
		float: left;
	}
	.menu-header > ul > li,
	.menu-header .menu > li{
		position: relative;
		left: -50%;
		float: left;
	}
	/* Menu Centerd end */

	.posted-on a:active,
	.posted-in a:active,
	nav a:active,
	.entry-title a:active,
	.entry-content a:active,	
	.posted-in a:active{
			position:relative;
			top:1px;
	}
	.menu-header a{
			max-width:none;/* ie8 width issue*/
	}
	.menu-header a:hover{
			max-width:none;/* ie8 width issue*/
	}
	.sticky .entry-content,
	.sticky .entry-title{
		padding:3px;
		margin-left:3px;
	}
	.sticky .entry-title{
	}
	.sticky .posted-on,
	.sticky .posted-in{
		display:none;
	}
