/**
 * Style rules for WordPress theme Enough
 *
 *
 * License: GNU General Public License v2.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * @package Enough
 */
#enough-page dl.gallery-item dd.wp-caption-text{
    margin:0 5%;
    text-align:center;
    width:90%;
}
#wp-calendar{
    margin:auto;
    width:90%;
}
#wp-calendar tfoot #prev{
    text-align:left;
}
#wp-calendar tfoot #next{
    text-align:right;
}
.aligncenter{
    clear:both;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.alignleft{
    clear: left;
    margin:5px 10px 5px 0;
}
.alignleft,
.nav-previous{

    display:inline-block;
    float:left;

}
.page .alignleft{
    margin-right:1em;   
    margin-right:1rem;
}
.alignright{
    clear:right;
    margin:5px 0 5px 10px;
}

.enough-monthly-archive-prev-next-navigation .alignleft:active{
    margin:6px 10px 5px 0;
}
.enough-monthly-archive-prev-next-navigation .alignright:active{
     margin:6px 0 5px 10px;
}
.alignright,.nav-next{
    display:inline-block;
    float:right;
}
#nav-below .nav-previous a, #nav-below .nav-next a{
    text-decoration:none;
}
.archives-title-text{
    clear:both;
    margin:1em 0 2em;
    margin:1rem 0 2rem;
    text-align:center;
}
.archive.author .archives-title-text{
    margin-top:-15px;
}
.archives-title-text .avatar{
    position:relative;
    top:5px;
}
.enough-comment-link{
    position:absolute;
    right:1rem;
}
.entry-content,.entry-title{
    max-width:100%;
}

.entry-content > table{
    margin:2em 0;
    max-width:100%;
}

.gallery-item img{
    margin:0;
    max-width:100%;
}
.message-box{
    margin:2rem auto;
    padding:1rem;
    width:80%;
}
.posted-in li,.toggle-navigation li{
    list-style:none;
}
.posted-in,.posted-on{
    margin-right:3px;
    padding:6px;
    position:relative;
}
.posted-on{
    margin:0 0 10px;
}
.posts-nav-link{
    margin:1em;
    margin:1rem;
    min-width:240px;
    float:left;
}
#nav-below .nav-next,
#nav-below .nav-previous,
.posts-nav-link .nav-next,
.posts-nav-link .nav-previous{
    padding:.5em .7em;
    padding:.5rem .7rem;
}
#nav-below .nav-next:empty,
#nav-below .nav-previous:empty,
.posts-nav-link .nav-next:empty,
.posts-nav-link .nav-previous:empty{
    display:none;
}

.posts-nav-link .nav-next{
    text-align:left;
}
.sticky{
    padding:10px 10px 10px 0;
}
.tagcloud-wrapper:after{
    clear:both;
}
.tagcloud{
    padding:1em;
}
.tagcloud a{
    display:inline-block;
    padding:.3em 0.5em;
}
.toggle-navigation{
    margin:auto;
}
.toggle-navigation li.enough-toggle-title{
    padding-left:1rem;
}
.unknown nav{
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin:0 auto;
    padding-right:1em;
    padding-top:1em;
    width:96.6%;
}
.textwidget{
    overflow:hidden;
}
.widget_search .widgettitle,
.widget_calendar .widgettitle,
.widget_text .widgettitle,
.widget_links .widgettitle,
.widget_rss .widgettitle,.widget_categories .widgettitle,.widget_recent_entries .widgettitle,.widget_tag_cloud .widgettitle,.widget_pages .widgettitle,.widget_nav_menu .widgettitle,.widget_recent_comments .widgettitle,.widget_archive .widgettitle,.widget_meta .widgettitle{
    -webkit-margin-after:0;
    -webkit-margin-before:0;
    max-width:100%;
    padding:.6em;
}
.rsswidget img{
    margin:0 5px 0 0;
}
.rsswidget{
    text-decoration:underline;
}
.rss-date{
    display:block;
}
.rssSummary{
    margin-right:5px;
}
.wp-caption{
    text-align:center;
}
.widget_calendar .widgettitle{
    margin-bottom:4px;
}
#calendar_wrap{
    margin-bottom:10px;
}
#calendar_wrap tbody td{
    height:1.8em;
    padding-right:2px;
}
.wp-caption img{
    margin:2%;
    max-width:96%;
}
.wp-caption,article img{
    height:auto;
    max-width:100%;
}
.attachment article img{
    display:block;
    margin:auto;
}
.enough-w-svga .wp-caption,
article img{
    height:auto;
    max-width:100%;
}
.wp-caption-text{
    margin:auto;
    max-width:99%;
    text-align:center;
    width:90%;
}
.wp-link-pages{
    margin:1rem;
    text-align:center;
}
.wp-link-pages > span{
    border:1px solid #999;
    padding:.5em;
}
.wp-link-pages a{
    border:1px solid #999;
    padding:.5rem;
}
.enough-monthly-archive-prev-next-navigation,
article{
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    float:left;
    padding-left:0;
    width:69.4%;
    padding:10px;
    position:relative;
}

article .post-format-name{
    position:absolute;
    z-index:1;
    right:0;
    top:0;
}

article.page{
    display:block;
    margin:0 5%;
    padding:0;
    width:auto;
    max-width: 90%;
    box-sizing: border-box;
}

.page-template-default article.type-page {
    display:block;
    float:none;
}
article .entry-title{
    margin-left:1em;
}
article.page .entry-content,
article.page .entry-title{
    margin:2em 0;
    margin:2rem 0;
}
.home article.sticky .entry-title{
    text-align:center;
}
article.sticky .entry-title,
article.sticky .entry-content{
    max-width:90%;
    margin:auto;
}
article.post dt{
    margin:1em 0 .5em;
    margin:1rem 0 .5rem;
}
article h1,
article h2,
article h3{
    margin:2em 0 1em;
    margin:2rem 0 1rem;
}

article li{
    line-height:1.4;
    margin-bottom:.5em;
}
article ul{
    display:table;
    padding-left:2em;
}
div.widget{
    margin-right:10px;
}
.widget ul{
    margin-left:5px;
    padding-left:5px;
}
.widget li{
    margin:0;
    padding:0;
}
.widget li a{
    display:inline-block;
    width:80%;
}
.widget li:not(a){
    font-size:small;
    color:#999;
}
.widget .cat-item .children,
.widget .cat-item .sub-menu{
    margin-left:1em;
}

header img{
    margin:0 0 -2px!important;
    padding:0!important;
    width:100%;
    max-width:100%!important;
    left:0;
    z-index:1;
}
header{
    padding-top:.1rem;
    overflow:hidden;
}
body > header{
    background-size:cover!important;
}
header h2,header h1{
    margin:0 35px;
}
header,
footer:not(.comment-meta){
    position:relative;
    min-height:100px;
}
footer:not(.comment-meta){
    margin-top:60px;
}
.size-full{
    max-width:100%;
    height:auto;
}
.wp-caption .size-full{
    height:auto;
    margin:1%;
    max-width:98%;
}
.wp-caption.alignleft{
    padding:5px 0 0;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin-right:10px;
    text-align:center;
}
.wp-caption.alignleft img{
    margin:auto;
}
.wp-caption.alignright{
    padding:0;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    text-align:center;
    margin-left:10px;
}
.wp-caption.alignleft img{
    margin:auto;
}

nav{
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin-left:72%;
    width:28%;
}
nav #searchform{
    text-align:center; 
    margin:10px auto;
    padding:10px;
}

nav #searchform .screen-reader-text,
.width500 nav #__seadragon1,
.width400 nav #__seadragon1,
.width300 nav #__seadragon1,
.width200 nav #__seadragon1,
.width500 nav #__seadragon2,
.width400 nav #__seadragon2,
.width300 nav #__seadragon2,
.width200 nav #__seadragon2,
.width500 nav #__seadragon3,
.width400 nav #__seadragon3,
.width300 nav #__seadragon3,
.width200 nav #__seadragon3,script{
    display:none;
}
.entry-content form{
    margin:.5em 0;
    padding:1em;
}
.entry-content textarea,
.entry-content input{
    display:block;
}
.entry-content form[action$="postpass"] input[type="submit"],
.entry-content form[action$="postpass"] input[name="post_password"],
.entry-content input[type="checkbox"],
.entry-content input[type="radio"]{
    display:inline-block;
}
.entry-content form[action$="postpass"] input[type="submit"]{
    padding:.2em .4em;
    padding:.2rem .4rem;
    position:relative;
    top:-1px;
}
nav #searchform input[type="text"]{
    width:60%;
    max-width:120px;
}
nav #searchform input[type="submit"]{
    width:35%;
    max-width:90px;
    padding:0;
}

nav input[type="submit"], nav input[type="submit"]:hover {
    position:relative;
    top:0;
    left:-3px;
    border:1px solid #adc5cf;
    background: #e4f1f9; /* Old browsers */
    background: -moz-linear-gradient(top, #efefef 0%, #dfdfdf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#dfdfdf)); /* Chrome,Safari4+ */
    background: -webkt-linear-gradient(top, #efefef 0%,#dfdfdf 100%); /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, #efefef 0%,#dfdfdf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #efefef 0%,#dfdfdf 100%); /* IE10+ */
    background: linear-gradient(top, #efefef 0%,#dfdfdf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */
    color:#555;
    cursor: pointer;
}

nav #wp-calendar caption{
    margin:.6em;
}
nav #wp-calendar tbody td a{
    display:block;
    height:100%;
    width:100%;
}
nav #wp-calendar tbody td{
    padding:0;
    text-align:center;
}
nav #wp-calendar tbody td a{
    padding-top:.33em;
}
nav #wp-calendar thead th{
    padding:0;
    text-align:center;
    font-weight:bold;
}
nav #wp-calendar tfoot td{
    padding-top:.6em;
}
nav .menu > li ul{
    margin:0 0 0 1rem;
    padding:0;
}
nav .menu > li,.widget > ul > li{
    border-bottom:1px solid rgba(200,200,200,0.4);
    line-height:2;
}
nav .widget_pages .sub-menu,
nav .widget_pages .children{
    margin:0 1em;
}
nav > ul,nav ul.sub-menu,
nav > ul,nav ul.children{
    margin:0;
    padding:0;
}
nav select{
    width:90%;
    max-width:90%;
    margin:5%;
}
nav ul.recentcomments li,nav .widget_meta li,#wp-calendar tfoot td{
    border:none;
}
nav #wp-calendar tbody td a{
    display:block;
    width:100%;
    height:100%;
}
ul,menu,dir{
    -webkit-margin-end:0;
    -webkit-margin-start:0;
    -webkit-padding-start:1rem;
}
#sidebar-1 h2.widgettitle{
    margin:16px 0;
}
#sidebar-1 li:first-child h2{
    margin-top:0;
}
.menu-header{
    margin:12px 12px 0;
    z-index:3;
}
.menu-header ul{
    margin:auto;
}
.entry-content > blockquote{
    display:table;
}
/* post format */
.post-format-content{
    margin:48px 0;
    text-align:center;
}
.post-format-content blockquote{
    text-align:left;
}
.format-link .entry-content a{
    display:block;
    text-align:center;
    margin:64px 0 0;
}
.entry-content{
    /*margin:0 10px 0 0;*/
    margin:0 .5em 0 1.5em;
    height:100%;
}

.enough-1col-post .entry-content h2,
.enough-1col-post .entry-content h3,
.enough-1col-post .entry-content h4{

    margin:2em 0;
}
.format-aside,
.format-audio,
.format-link,
.format-video,
.format-gallery,
.format-link,
.format-status,
.format-image,
.format-quote{
}
.format-aside.comments-open .entry-title,
.format-audio.comments-open .entry-title,
.format-link .comments-open .entry-title,
.format-video.comments-open .entry-title,
.format-gallery.comments-open .entry-title,
.format-link.comments-open .entry-title,
.format-status.comments-open .entry-title,
.format-image.comments-open .entry-title,
.format-quote.comments-open .entry-title{
    max-width:100%;
}
.single-attachment p.attachment{
    text-align:center;
}
iframe,
.twitter-tweet{
}
article embed{
    max-width:100%;
}
.format-standard{
}
.post-format-link{
    font-weight:bold;
    color:gray;
    display:inline-block;
}
.post-format-link + .enough-comment-link{
    width:10em;
    text-align:right;
}
.enough-icon .post-format-link + .enough-comment-link{
 
    text-align:right;
    margin-right:100px;
    display:inline-block;
    
}
.post-format-entry-meta{
    text-align:center;
}
.post-format-entry-meta a{
    display:inline-block;
    padding:6px;
    font-size:small;
}
.grid-pinup-widgets .format-standard .enough-post-format-chat,
.grid-pinup-widgets .format-standard .enough-post-format-chat dd{
    margin:0;
}

/* Post Format Chat */
.widget .enough-post-format-chat form{
    text-align:left;
}
.enough-post-format-chat > dt{
    display:inline-block;
    width:80px;
    float:left;

}

.enough-sidebar .enough-post-format-chat > dt{
    display:block;
    width:100%;
    float:none;
}

.enough-post-format-chat > .enough-chat-author-0{

}
.enough-post-format-chat > dd{
    margin-left:100px;
    margin-bottom:1em;
    position:relative;
    padding:1em;
    box-sizing:border-box;
}

.enough-sidebar .enough-post-format-chat > dd{
    margin-left:auto;
    margin-bottom:1em;
    position:relative;
}
.enough-post-format-chat > dd:after{
    display:block;
    clear:left;
    content: "\00a0";
    height: 10px;
    left: -6px;
    position: absolute;
    top: 10px;
    transform:             rotate( 45deg );
        -moz-transform:    rotate( 45deg );
        -ms-transform:     rotate( 45deg );
        -o-transform:      rotate( 45deg );
        -webkit-transform: rotate( 45deg );
    width:  10px;
}

.enough-sidebar .enough-post-format-chat > dd:after{
    display:block;
    clear:left;
    content: "\00a0";
    height: 10px;
    left: 10px;
    position: absolute;
    top: -6px;
    transform:             rotate( 45deg );
        -moz-transform:    rotate( 45deg );
        -ms-transform:     rotate( 45deg );
        -o-transform:      rotate( 45deg );
        -webkit-transform: rotate( 45deg );
    width:  10px;
}
.enough-post-format-chat > .additional-block{
    background:transparent;
    border:none;
    overflow:hidden!important;
}
.enough-post-format-chat > .additional-block:after{
    content:'';
    display:none;

}

.enough-post-format-chat > dt.enough-chat-author-9:hover,.enough-post-format-chat > dt.enough-chat-author-9:hover ~ .enough-chat-author-9,
.enough-post-format-chat > dt.enough-chat-author-8:hover,.enough-post-format-chat > dt.enough-chat-author-8:hover ~ .enough-chat-author-8,
.enough-post-format-chat > dt.enough-chat-author-7:hover,.enough-post-format-chat > dt.enough-chat-author-7:hover ~ .enough-chat-author-7,
.enough-post-format-chat > dt.enough-chat-author-6:hover,.enough-post-format-chat > dt.enough-chat-author-6:hover ~ .enough-chat-author-6,
.enough-post-format-chat > dt.enough-chat-author-5:hover,.enough-post-format-chat > dt.enough-chat-author-5:hover ~ .enough-chat-author-5,
.enough-post-format-chat > dt.enough-chat-author-4:hover,.enough-post-format-chat > dt.enough-chat-author-4:hover ~ .enough-chat-author-4,
.enough-post-format-chat > dt.enough-chat-author-3:hover,.enough-post-format-chat > dt.enough-chat-author-3:hover ~ .enough-chat-author-3,
.enough-post-format-chat > dt.enough-chat-author-2:hover,.enough-post-format-chat > dt.enough-chat-author-2:hover ~ .enough-chat-author-2,
.enough-post-format-chat > dt.enough-chat-author-1:hover,.enough-post-format-chat > dt.enough-chat-author-1:hover ~ .enough-chat-author-1,
.enough-post-format-chat > dt.enough-chat-author-0:hover,.enough-post-format-chat > dt.enough-chat-author-0:hover ~ .enough-chat-author-0{
    color:#16a185;
}
@media screen and (max-width : 640px){
   .enough-post-format-chat > dt{
        display: block;
        width: 90vw;
        float: none;
        margin:auto;
    }
    .enough-post-format-chat > dd{
            margin-left:0;
    }
    .enough-post-format-chat > dd:after{
        display: block;
        clear: left;
        content: "\00a0";
        height: 10px;
        top: -6px;
        position: absolute;
        left: 10px;
        transform: rotate( 45deg );
        -moz-transform: rotate( 45deg );
        -ms-transform: rotate( 45deg );
        -o-transform: rotate( 45deg );
        -webkit-transform: rotate( 45deg );
        width: 10px;        
    }
}
/* from example */

/* Menu Centerd start */
.menu-header{
    position: relative;
}
.menu-header > ul,
.menu-header .menu{
    position: relative;
    left: 50%;
    float: left;
}
.menu-header > ul > li,
.menu-header .menu > li{
    position: relative;
    left: -50%;
    float: left;
}
.ie11 .menu-header > ul,
.ie .menu-header > ul{

    width:100%;
}
.ie .menu-header > ul,
.ie .menu-header .menu,
.ie .menu-header > ul > li,
.ie .menu-header .menu > li,
.ie11 .menu-header > ul,
.ie11 .menu-header .menu,
.ie11 .menu-header > ul > li,
.ie11 .menu-header .menu > li{
    left:0;
}
/* Menu Centerd end */
.posted-in a,
.posted-on a{
    text-decoration:none;
}
/*.posted-on a:active,*/
.posted-in a:active,
nav a:active,
.entry-title a:active,
.entry-content a:active,	
.posted-in a:active{
    position:relative;
    top:1px;
    margin-bottom:-1px;
}
.menu-header a{
    max-width:none;/* ie8 width issue*/
}
.menu-header a:hover{
    max-width:none;/* ie8 width issue*/
}
.sticky .entry-content,
.sticky .entry-title{
    padding:3px;
    margin-left:3px;
}
.sticky .entry-title{
}
.sticky .posted-on,
.sticky .posted-in{
    display:none;
}
/* mejs audio */
.mejs-container{
    max-width:100%;
    margin:48px auto;
}
.mejs-horizontal-volume-current{
    max-width:100%;
}
/* */	
.custom-format-link-list-wrapper{
    float:left;
    margin-left:10px;/* see layout-fluid.css max-width : 480px*/

}

#custom-post-format-links-button{
    margin:1em 0 0;
    padding:0;
}
#custom-post-format-links-button li{
    display:inline-block;

    min-width:50px;
    margin:.5em 0;
    padding:0;
    text-align:center;

}
.custom-format-link-list-wrapper .approach-widget{
    list-style:none;
    margin:0;
    padding:0;
    width:100%;
}
.custom-format-link-list-wrapper .approach-widget li{
    list-style:none;
    margin-right:0!important;

}
.enough-1col-post + .custom-format-link-list-wrapper .approach-widget li{
    margin-right:5px!important;

}
#custom-post-format-links-button li{
    height:64px;
    margin:0 auto;
    /* width:13.65%;*/
    width:12%;
}
.post-format-link,
#custom-post-format-links-button a{
    text-decoration:none!important;
}
#custom-post-format-links-button li a{
    border: 0 solid #800000;
    width: 100%;
    height: 100%;

    display: table;
    text-align: center;
}
#custom-post-format-links-button li a span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

.slides_control div{
    max-width:600px;
}
.slides_control div .slides-content,
.slides_control div h3{
    margin-left:1em;
}
.wp-audio-shortcode{
    max-width:320px;
}
#recentcomments a{
    display:inline;
}
.posted-in .toggle-title{
    width:126px;
}

footer address{
    margin:100px 0 0;
    padding:1em 0;
}
.enough-monthly-archive-prev-next-navigation a{
    text-decoration:none; 
}
.enough-pinup-entries{
    position:relative;
}
.enough-pinup-entries .pinup-attachment h2,
.enough-pinup-entries .pinup-featured h2{
    position:absolute;
    top:0;
    left:0;
    bottom:auto;
    margin:0;
    padding:13px 20px;
    color:#fff;
   
    background:#000;
}
.en_US .enough-pinup-entries .pinup-attachment h2,
.en_US .enough-pinup-entries .pinup-featured h2{
    text-transform: uppercase;
}
.enough-pinup-entries img{
    border:1px solid #000;
}
.posts_pagination_wrapper{
    overflow:hidden;
    text-align:center;
    padding:1em;
    box-sizing:border-box;
}
.posts_pagination_wrapper .pagination{
    margin:auto;
}
.posts_pagination_wrapper .current,
.posts_pagination_wrapper a{
    font-size:1.2em;
    text-decoration:none;
    border:1px solid #ccc;
    padding:.2em .3em;
}
.fallback-navigation{
    text-align:center;
    font-weight:bold;
}
.fallback-navigation .alert{
    display:inline-block;
    padding-left:1em;
    padding-right:1em;
}
.enough-1col-post .posts-nav-link,
article.enough-1col-post  {
    display:block;
    margin:1%;
    width:98%;
}
.enough-1col-post .posts-nav-link{
    overflow:hidden;
}
.enough-1col-post .posts-nav-link a:first-child{
   
}
.enough-1col-post .posts-nav-link a{
    padding:1em;
    box-sizing:border-box;
    width:49%;
    text-align:center;
}
