/**
 * Style rules for WordPress theme Enough
 *
 *
 * License: GNU General Public License v2.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * @package Enough
 */
/**
 *
 *
 *
 *
 *
 */

article{
	float:left;
	margin:0 0 5px 10px;
	width:69.4%;
	padding-left:10px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box;
}
.sticky{
	padding:10px 10px 10px 0;
	
}
article.sticky .entry-title,
article.sticky .entry-content{
max-width:90%;
}
article.page {
	display:block;
	margin:0 5%;
	width:auto;
	padding:0;
}
article.page .entry-title,
article.page .entry-content,
article.page{
}
nav {
	width:28%;
	margin-left:72%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box;
}
div.widget{
	margin-right:10px;
}
nav #wp-calendar caption{
	margin:.6em;
}
.unknown nav{
	width:96.6%;
	margin:0 auto;
	padding-right:1em;
	padding-top:1em;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box;
}

/**
 *
 *
 *
 *
 *
 */
.wp-caption{
	margin:.3em;	
	margin:.3rem;	
}
.wp-caption img{
	margin:5px;
}
.wp-caption-text{
	text-align:center;
	width:90%;
	margin:auto;
	max-width:99%;
}

/**
 *
 *
 *
 *
 *
 */
.gallery-item img{
	max-width:100%;
	margin:0;
}
#enough-page dl.gallery-item dd.wp-caption-text{
	text-align:left;
	width:90%;
	margin:0 5%;
}
.gallery-caption,
.bypostauthor{
}

/**
 *
 *
 *
 *
 *
 */
.alignleft {
	display: inline;
	float: left;
}
.alignright {
	display: inline;
	float: right;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
iframe,
.size-full,
.wp-caption .size-full {
	height: auto;
	margin:1%;
	max-width:98%;
}
.wp-caption,
article img{
	max-width:100%;
	height:auto;
}

/**
 *
 *
 *
 *
 *
 */

.entry-content,
.entry-title{
	word-break:break-all;
	word-wrap:break-word;
	max-width:100%;
	margin:10px 14px 10px 24px;
}
.entry-title{

}
.entry-content{
}
article.page .entry-content,
article.page .entry-title{
	margin:0;
}
/**
 *
 *
 *
 *
 *
 */
h1 a,
h2 a,
h3 a{
	text-decoration:none;
}


/**
 *
 *
 *
 *
 *
 */
.posted-in,
.posted-on{
	position:relative;
	padding: 6px;
	word-break:break-all;
	word-wrap:break-word;
	margin-right:3px;
}
.posted-on{
	margin:0 0 10px 0;
}
.posted-in li{
	list-style:none;
}
/**
 * message box
 *
 *
 *
 *
 */
.message-box{
	width:80%;
	margin:2em auto;
	margin:2rem auto;
	padding:1em;
	padding:1rem;
}

