/**
 * Style rules for WordPress theme Enough
 * 
 *
 * License: GNU General Public License v2.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * @package Enough
 */
#enough-page{
	background:rgba(255,255,255,1);
}

.comment-body blockquote,
.comment-body td,
.comment-body th{
	border:1px solid #999;
}

.comment-body blockquote{
	border-left:6px solid #999;
}

.menu-header .sub-menu a,
.menu-header .children a,
.menu-header .sub-menu,
.menu-header .children,
.menu-header a,
.menu-header{
	color:#999;	
}

.menu-header .sub-menu a:hover,
.menu-header .children a:hover,
.menu-header a:hover{
	background:#eee;
	color:#555;
}
.ie9 .menu-header .sub-menu li,
.ie9 .menu-header .children li,
.ie8 .menu-header .sub-menu li,
.ie8 .menu-header .children li{
	background:#fff;
	color:#555;
}

.not-found{
	background:rgba(255,200,200,0.5);
}

.sticky .posted-in,
.sticky .posted-on{
	background:none;
}

.wp-caption,
hr{
	border:1px solid rgba(200,200,200,0.5);
}

a,
.widgettitle{
	/*color:#555;*/
}

a:hover{
	/*color:#333;*/
}


body,
.fail-search{
	background:rgba(200,200,200,0.3);
}

footer{
	background:rgba(200,200,200,0.6);
}

nav #searchform,
nav #wp-calendar thead th,
.widget_rss .widgettitle,
.widget_tag_cloud,
.widget_links .widgettitle,
.widget_categories .widgettitle,
.widget_recent_entries .widgettitle,
.widget_tag_cloud .widgettitle,
.widget_pages .widgettitle,
.widget_nav_menu .widgettitle,
.widget_recent_comments .widgettitle,
.widget_archive .widgettitle,
.widget_meta .widgettitle{
	background:rgba(200,200,200,0.5);
}

nav #wp-calendar tbody td a{
	background:rgba(200,200,200,0.2);
}

nav .widget_calendar{
	border:none!important;
}

th,
td,
blockquote{
	border:1px solid #ccc;
}

blockquote{
	border-left:6px solid #ccc;
}

.entry-content blockquote{
	border:none;
	border-left:1px solid #ccc;
}
.entry-content blockquote:before{
	content:'“';
	font-family:serif;
	font-weight:bold;
	font-size:30px;
	display:block;
}
.entry-content blockquote:after{
	content:'”';
	font-family:serif;
	font-weight:bold;
	font-size:30px;
	display:block;
	text-align:right;
	margin-top:.5em;
	margin-bottom:-.5em;
}

.entry-content .whisper{
	margin-left:4.4em;
	background:#eee;
	padding:1em;
}
/* post format */
.format-chat,
.format-aside,
.format-audio,
.format-link,
.format-video,
.format-gallery,
.format-link,
.format-status,
.format-image,
.format-quote{
	background:#efefef;
	background:rgba(222,222,222,0.2);
	border-top:1px solid #ccc;	
	border-bottom:1px solid #ccc;	
}
