/**
 * Style rules for WordPress theme Enough
 * 
 *
 * License: GNU General Public License v2.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * @package Enough
 */
#enough-page{
	background:rgba(255,255,255,1);
}

.comment-body blockquote{
	border-left:6px solid #999;
}

.comment-body blockquote,
.comment-body td,
.comment-body th{
	border:1px solid #999;
}


.menu-header .children a,
.menu-header .children,
.menu-header a,
.menu-header{
	color:#999;	
}

.menu-header .children a:hover,
.menu-header a:hover{
	background:#eee;
	color:#555;
}

.not-found{
	background:rgba(255,200,200,0.5);
}

.sticky .posted-in,
.sticky .posted-on{
	background:none;
}

.wp-caption,
hr{
	border:1px solid rgba(200,200,200,0.5);
}

a,
.widgettitle{
	color:#555;
}

a:hover{
	color:#333;
}


body,
.fail-search{
	background:rgba(200,200,200,0.3);
}

footer{
	background:rgba(200,200,200,0.6);
}

nav #searchform,
nav #wp-calendar thead th,
.widget_rss .widgettitle,
.widget_tag_cloud,
.widget_categories .widgettitle,
.widget_recent_entries .widgettitle,
.widget_tag_cloud .widgettitle,
.widget_pages .widgettitle,
.widget_nav_menu .widgettitle,
.widget_recent_comments .widgettitle,
.widget_archive .widgettitle,
.widget_meta .widgettitle{
	background:rgba(200,200,200,0.5);
}

nav #wp-calendar tbody td a{
	background:rgba(200,200,200,0.2);
}

nav .widget_calendar{
	border:none!important;
}

th,
td,
blockquote{
	border:1px solid #ccc;
}

blockquote{
	border-left:6px solid #ccc;
}
