/**
 * Style rules for WordPress theme Enough
 *
 *
 * License: GNU General Public License v2.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * @package Enough
 */
html{
	margin:0;
	padding:0;
}
body {
	font-size:100%;	
	font-family:Geneva, Arial, Helvetica, sans-serif;
}
.archives-title-text,
h1,h2,h3,
h1 a,
h2 a,
h3 a{
	font-family:Georgia, "Times New Roman", Times, serif;
}

#page{
	width:90%;
	margin:0 auto;
	max-width:960px;
	min-width:240px;

}
article{
	width:66.6%;
	padding-left:1em;
	padding-left:1rem;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box;
}
body.page article{
	width:96.6%;
	margin:0 auto;
}
nav {
	width:28%;
	/*padding-right:1em;
	padding-right:1rem;*/
	margin-left:70%;
	padding-top:1em;
	padding-top:1rem;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box;
}
.unknown nav{
	width:96.6%;
	margin:0 auto;
	padding-right:1em;
	padding-top:1em;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box;
}
	.wp-caption-text,
	.toggle-tag,
	.posted-on,
	.posted-in{
		font-size:.75em;
		font-size:.75rem;
	}
	nav #wp-calendar caption{
		margin:.6em;
		font-family:Georgia, "Times New Roman", Times, serif;
	}
	nav #wp-calendar thead th{
		font-weight:normal;
		font-size:0.9em;
	}
	.form-allowed-tags code{
		font-family:"Courier New", Courier, mono;
	}
@media screen and (max-width : 640px){
	body{
		font-size:80%;
	}

	#page{
		width:96%;
		margin:0 auto;		
	}
	#nav-below{
		margin:0 0 2% 2%;
	}
	#comments{
		margin-left:2%;
	}
	article{
		width:94%;
			margin:0 auto;
	
	}
	body.page article{
		width:94%;
			margin:0 auto;
	}
	nav {
		width:94%;
			margin:0 auto;
			clear:both;
	
	}
	.sticky{
		margin-left:.4em;
		margin-top:.5em;
		margin-left:.4rem;
		margin-top:.5rem;
	}
	.menu-header{
		clear:both;
	}

}

@media screen and (max-width : 480px){
	body{
		font-size:75%;
	}
	 .menu-header {
		display: block;
		max-width:100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box; 
		-ms-box-sizing: border-box; 
		box-sizing: border-box;
	}
	 .menu-header ul{
		margin: 0;
		padding: 0;
		vertical-align: baseline;
	}
	 .menu-header > ul > li{
		border-bottom:1px solid #aaa;
	}
	 .menu-header li{
		margin:0;
		list-style:none;		
	}
	 .menu-header .children{
		margin-left:1em;
		background:none;
		max-width:100%;
	}
	 .menu-header  a,
	 .menu-header .children a{
		display: block;
		padding:.5em;
		padding:.5rem;
		text-decoration:none;
		background:none!important;
		
	}
	.enough-comment-link{
		font-size:0.8em;
		font-size:0.8rem;
	}
	
	noscript .no-script-and-small-view{
		display:block;
	}
	.posted-in, .posted-on {
	left:-3%;
	}
	.entry-content{
	margin:0;
	padding:0;
	width:100%;
	position:relative;
	left:0;	
	left:0;	
	}
	article img{
	max-width:100%;
	margin:0;
	}
	.toggle-category.toggle-title,
	.toggle-tag.toggle-title,	
	.posted-in li{
		list-style:none;
		display:block;
		padding:.5em;
		padding:.5rem;
		margin:0;
	}
	.posted-in ul{
		margin:0;
		padding:0;
	}
	.posted-in a[rel~="tag"]{
		display:block;
		padding:.5em;
		padding:.5rem;
		border-bottom:1px solid #999;
	}
	blockquote{
		margin:.5em 1em;
		margin:.5rem 1rem;
		word-break:break-all;
		word-wrap: break-word;
		padding:10px;
	}
	blockquote > blockquote,
	blockquote > blockquote > blockquote{
		padding:3px 3px 3px 3px;
		margin:5px;
		word-break:break-all;
		word-wrap: break-word;
	}

}
@media screen and (min-width: 481px){

.menu-header{
	background:#efefef;
}
.menu-header:after {content:"";display:block;clear:both;} /* clearfix */
.page-item a{

	background:#fff;
}

	 .menu-header {
		display: block;
		min-height:3em;
		font-size:0.9em;
		font-size:0.9rem;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box; 
		-ms-box-sizing: border-box; 
		box-sizing: border-box;
		margin:0 1em;
		padding:1px;
	}
	 .menu-header ul{
		margin: 0 auto;
		padding: 0;
		vertical-align: baseline;
	}
	 .menu-header li{
		margin:0;
		list-style-type:none;
		position: relative;
		max-width:99%;
	}
	 .menu-header a {
		display: block;
		text-decoration: none;
		text-align:center;
		/*padding:.5em; /* IE8 not support rem */
		padding:.5rem;*/
		
		min-width:5em;
		min-width:5rem;
	}
	 .menu-header > ul > li{
		float:left;
		position:relative;
	}
	.menu-header .sub-menu,
	 .menu-header .children {
		display: none;
		position: absolute;
		top: 2rem;
		left: 0;
		float: left;
		width: 10em;
		z-index: 99;
		text-align:center;
	}
	 .menu-header .sub-menu li,
	 .menu-header .children li {
		min-width:10em;/* IE8 not support rem */
		min-width: 10rem;
		margin:0;
	}
	 .menu-header .sub-menu .sub-menu,
	 .menu-header .children .children {
		left: 100%;
		top: -1px;
		text-align:center;
	}
	 .menu-header .sub-menu .sub-menu.left,
	 .menu-header .children .children.left {
		left: -100%;
		top: 0;
		text-align:center;
	}
	 .sub-menu a,	
	 .children a {
		line-height: 1em;/* IE8 not support rem */
		padding:0.8em 0;/* IE8 not support rem */
		line-height: 1rem;
		padding:0.8rem 0;
		height: auto;
		max-width:100%;
	}
	.menu-header ul:hover ul a,
	 .menu-header ul ul:hover a{
		border:1px solid #ccc;
	}
	 .menu-header .sub-menu:hover > a,
	 .menu-header .sub-menu:hover > a,
	 .menu-header .children:hover > a,
	/* .menu-header li:hover > a,*/
	 .menu-header .children:hover > a {
		border:1px solid #999;
	}
	 .menu-header ul li:hover > .sub-menu,
	 .menu-header ul li:hover > .children {
		display:block;
		position:absolute;
	}
	 .menu-header li.current_page_item > a,
	 .menu-header li.current-menu-ancestor > a,
	 .menu-header li.current-menu-item > a,
	 .menu-header li.current-menu-parent > a {
		text-align:center;
	}
}
