/* post format status */
.format-status .post-status-title:focus,
.format-status .entry-content:focus{
	outline:none;
}
.format-status .entry-content{
	display:none;
}
.format-status .post-status-title:focus{
	outline:none;
}
.format-status .post-status-title:focus ~.entry-content{
	display:block;
}
.format-status .post-status-title:hover{
	cursor:pointer;
	}
.format-status .entry-content:focus{
	display:block;
	outline:none;
}
.term-post-format-status .format-status{
	background:#fff;
}
.statuses{
	width:100%;
	}
.statuses td.avatar{
	width:70px;
	padding:5px;
	vertical-align:top;
	border:none;
	}
.statuses td.content{
	padding:5px;
	border:none;
}
.statuses .post-status-title{
	text-align:left;
	margin:1em;
}


.format-image .post-format-content img{
	text-align:center;
	float:none;
}
/* post format status end */
/* post format image */

.term-post-format-image .tiled-post-format-image {
	line-height:0;
	-webkit-column-count:3;
	-webkit-column-gap:2px;
	-moz-column-count:3;
	-moz-column-gap:2px;
	column-count:3;
	column-gap:2px;
	background:#555;
	padding:5px;
}

.term-post-format-image  .tiled-post-format-image img {
	width:100% !important;
	height:auto !important;
	margin:1px;
	padding:0;
}

@media (max-width: 640px) {
	.term-post-format-image .tiled-post-format-image{
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
	}
}

@media (max-width: 480px) {
	.term-post-format-image .tiled-post-format-image{
		-moz-column-count:1;
		-webkit-column-count:1;
		column-count:1;
	}
}
/* post format image end */
