/**
 * Style rules for WordPress theme Enough
 *
 *
 * License: GNU General Public License v2.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * @package Enough
 */
.posted-on a:active,
.posted-in a:active,
nav a:active,
.entry-title a:active,
.entry-content a:active,	
.posted-in a:active{
		position:relative;
		top:1px;
}

.menu-header{
		margin:0;
		background:#000;
}
.enough-w-iphone .menu-header{
		background:none;
}
.menu-header a{
		background:none;
		max-width:none;/* ie8 width issue*/
}
.menu-header a:hover{
		background:none;
		max-width:none;/* ie8 width issue*/
		color:#fff;
}

.menu-header .children{
		background:#fff;
}

.site-title a span:hover{
	/*	color:#fff;*/
}
.sticky{
	background:#eee;
	background:
	-webkit-linear-gradient(45deg, #92baac 45px, transparent 45px),
	-webkit-linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
	-webkit-linear-gradient(225deg, transparent 46px, #e1ebbd 46px, #e1ebbd 91px, transparent 91px),
	-webkit-linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
	background:
	-moz-linear-gradient(45deg, #92baac 45px, transparent 45px),
	-moz-linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
	-moz-linear-gradient(225deg, transparent 46px, #e1ebbd 46px, #e1ebbd 91px, transparent 91px),
	-moz-linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
	background-color:#e1ebbd;
	background-size: 128px 128px;
	-moz-box-shadow: 1px 1px 3px #555;
	-webkit-box-shadow: 1px 1px 3px #555;

}
.ie8 .sticky{
	background:none;
}
.sticky .entry-content,
.sticky .entry-title{
	background:#fff;
	background:rgba(255,255,255,0.9);
	padding:1em;
	
}
.sticky .entry-title{
}


.sticky .posted-on,
.sticky .posted-in{
	display:none;
}
@media screen and (min-width: 481px){
	.site-title a:hover span{
		/*color:#fff;*/
	}
	.menu-header {
		margin:0;
		color:#191919;
		background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#333));
		background: -moz-linear-gradient(top,  #000,  #333);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#333');
		-moz-box-shadow: 0 1px 3px #555;
		-webkit-box-shadow: 0 1px 3px #555;	
		border-bottom:1px solid rgba(255,255,255,0.6);
		border-top:1px solid rgba(255,255,255,0.2);
		}
	footer{
		background:#000;
		color:#eee;
	}
	footer a{
		color:#aaa;
		background:none;
	}
	footer a:hover{
		color:#eee;
		background:none;
	}
.widget_links,
.widget_rss,
.widget_categories,
.widget_recent_entries,
.widget_pages,
.widget_nav_menu,
.widget_recent_comments,
.widget_archive,
.widget_meta{
border:1px solid #ccc;
margin-top:-1px;
}
	#commentform,
	html,
/*	.posted-in,*/	
	.posted-on,
	.posted-on a.enough-comment-link:active,
	.widget_rss .widgettitle,
	.widget_links .widgettitle,
	.widget_categories .widgettitle,
	.widget_recent_entries .widgettitle,
	.widget_tag_cloud .widgettitle,
	.widget_pages .widgettitle,
	.widget_nav_menu .widgettitle,
	.widget_recent_comments .widgettitle,
	.widget_archive .widgettitle,
	.widget_meta .widgettitle{
		color:#191919;
		background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#efefef));
		background: -moz-linear-gradient(top,  #eeeeee,  #efefef);
		/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfcfcf', endColorstr='#dfdfdf');*/
	/*	-moz-box-shadow: 1px 1px 3px rgba(52,52,52,.5);
		-webkit-box-shadow: 1px 1px 3px rgba(52,52,52,.5);
		border-bottom:1px solid rgba(255,255,255,.7);*/
		border-bottom:1px solid rgba(100,100,100,.3);

	}
.posted-in{
		color:#191919;
		color:#191919;
		background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#efefef));
		background: -moz-linear-gradient(top,  #eeeeee,  #efefef);
		/*-moz-box-shadow: 0 1px 3px rgba(52,52,52,.3);
		-webkit-box-shadow: 0 1px 3px rgba(52,52,52,.3);*/
		border-bottom:1px solid rgba(100,100,100,.3);
	
}	
	.posted-on a.enough-comment-link{
		background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#eeeeee));
		background: -moz-linear-gradient(top, #efefef,  #eeeeee );
/*		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#cfcfcf');
		-moz-box-shadow: 1px 1px 3px rgba(52,52,52,.5);
		-webkit-box-shadow: 1px 1px 3px rgba(52,52,52,.5);*/
				border-bottom:1px solid rgba(100,100,100,.3);

	}
	.posted-on a.enough-comment-link:hover{
		background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#efefef));
		background: -moz-linear-gradient(top, #eeeeee,  #efefef );
/*		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#cfcfcf');
		-moz-box-shadow: 1px 1px 3px rgba(52,52,52,.5);
		-webkit-box-shadow: 1px 1px 3px rgba(52,52,52,.5);*/
				border-bottom:1px solid rgba(100,100,100,.3);

	}

	#commentform{
	}
	.entry-title{
		margin-left:1em;
	}
	.comments-open .entry-title{
		max-width:73%;
	}
	.comments-closed .entry-title{
		max-width:100%;
	}
	.posted-in,
	.posted-on {
		margin-right:3px;
	}
	.posted-on{
		padding-left:25px;;
	}
	.posted-on a{
		background:none;
		color:#000;
		margin-left:1em;
	}
	.posted-on .meta-sep{
		margin-left:1em;
	}

	.posted-on a.enough-comment-link{
		display:inline-block;
		height: 30px;
		width: 100px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		top:-40px;
		right:0;
	}

	.posted-on a.enough-comment-link em{
		position:absolute;
		top:8px;
		left:19px;
		display:block;
	}
	.posted-on a.enough-comment-link span.enough-comment-string{
		position:absolute;
		top:10px;
		display:block;
	}

	a[href$="png"] > img,
	a[href$="jpg"] > img,
	a[href$="gif"] > img{
			padding:1em;
	}
	.wp-caption a[href$="png"] > img,
	.wp-caption a[href$="jpg"] > img,
	.wp-caption a[href$="gif"] > img{
			padding:0;
	}
	
	.page-item a{
		color:#fff;
		background:#000;
	}
	.menu-header .children a {
		background:#000;
		color:#eee;
		border:none;
	}	
	
	.menu-header ul ul:hover a {
		background:#000;
		color:#fff;
		border:none;
	}
	.menu-header ul:hover ul a,
	.menu-header ul ul:hover a{
		border:none;
	}
	
	.menu-header .children a:hover,
	 .menu-header a:hover{
		background:#333;
		color:#fff;
	}
	

}
@media screen and (min-width : 640px){
	
	.posted-in li{
		display:inline-block;
		padding:3px;
		margin:3px;
		font-size:110%;
	}
	.posted-in ul li:nth-child(1){
		font-weight:bold;
	}	
	
	}
@media screen and (max-width : 480px){
	.alignleft,
	.alignright{
		float:none;
		clear:both;
		display:block;
		margin:0 auto;
	}
}
	.ie8.enough-w-svga .entry-content img,
	.ie8.enough-w-svga .entry-content img,
	.ie8.enough-w-svga .entry-content img{
			padding:1em;
			display:inline-block;
	}
	.enough-w-svga .alignleft,
	.enough-w-svga .alignright{
			max-width:50%;
	}

	.ie8.enough-w-svga .wp-caption a > img,
	.ie8.enough-w-svga .wp-caption a > img,
	.ie8.enough-w-svga .wp-caption a > img{
			padding:0;
	}

	.ie8.enough-w-vga  .entry-content .alignleft,
	.ie8.enough-w-vga  .entry-content .alignright,
	.ie8.enough-w-vga  .entry-content img{
		float:none;
		clear:both;
		display:block;
		margin:0 auto;
	}
