/**
 * Style rules for WordPress theme Enough
 *
 *
 * License: GNU General Public License v2.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * @package Enough
 */
.ie8 article {
margin:auto;
padding:10px;
}


.ie8 nav {
width:28%;
padding-right:1em;
margin-left:70%;
margin-top:-1.2em;
padding-top:1em;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
min-width:30%!important;
}

.ie8 nav ul {
margin-top:0;
margin-left:.5em;
padding-left:0.4em;
}

.ie8 nav li {
margin-left:0;
padding-left:0;
}

.ie8 nav input {
max-width:80%;
}

.ie8 nav > ul > li {
border-bottom:1px solid #ccc;
}

.ie8 .posted-in,
.ie8 .posted-on,
.ie8 #commentform {
background:#fff;
color:#333;
}

.ie8 .posted-in,
.ie8 .posted-on {
margin-bottom:1em;
padding:.3em;
}

.ie8 .posted-in ul {
margin-left:1em;
padding-left:0;
}

.ie8 .wp-list-comments .odd {
background:#eef;
}

.ie8 .wp-list-comments .even {
background:#eff;
}

.ie8 img {
height:auto!important;
}

.ie8 .comment-body {
/*word-wrap:break-word;*/
/*word-break:break-all;*/
}

.ie8 .nav-next {
diaplay:inline;
float:right;
}

.ie8 blockquote {
padding:1em;
}

.ie8 .comment-meta {
position:static;
}

.ie8 .menu-header {
display:inline-block;
width:100%;
font-size:0.9em;
max-width:100%;
}

.ie8 .menu-header li {
list-style-type:none;
margin:0;
}

.ie8 .menu-header > ul > li {
float:left;
position:relative;
}

.ie8 .menu-header .sub-menu,
.ie8 .menu-header .children {
display:none;
position:absolute;
top:2em;
left:0;
float:left;
width:10em;
z-index:99;
text-align:center;
}
.ie8 .menu-header .sub-menu li,
.ie8 .menu-header .children li {
min-width:10em;
margin:0;
}
.ie8 .menu-header .sub-menu .submenu,
.ie8 .menu-header .children .children {
left:100%;
top:-1px;
text-align:center;
}
.ie8 .sub-menu a,
.ie8 .children a {
line-height:1em;
height:auto;
padding:0.8em;
}

.ie8.enough-w-keitai .menu-header,
.ie8.enough-w-qvga .menu-header,
.ie8.enough-w-iphone .menu-header{
display:block;
width:100%;
font-size:0.9em;
}

.ie8.enough-w-keitai .menu-header li,
.ie8.enough-w-qvga .menu-header li,
.ie8.enough-w-iphone .menu-header li{
list-style-type:none;
display:block;
margin:0;
}

.ie8.enough-w-keitai .menu-header > ul > li,
.ie8.enough-w-qvga .menu-header > ul > li,
.ie8.enough-w-iphone .menu-header > ul > li{
float:none;
display:block;
}
.ie8.enough-w-keitai .menu-header .sub-menu,
.ie8.enough-w-qvga .menu-header .sub-menu,
.ie8.enough-w-iphone .menu-header .sub-menu,
.ie8.enough-w-keitai .menu-header .children,
.ie8.enough-w-qvga .menu-header .children,
.ie8.enough-w-iphone .menu-header .children{
position:static;
float:none;
text-align:center;
display:block;
background:none;
}
.ie8.enough-w-keitai .menu-header .sub-menu li,
.ie8.enough-w-qvga .menu-header .sub-menu li,
.ie8.enough-w-iphone .menu-header .sub-menu li,
.ie8.enough-w-keitai .menu-header .children li,
.ie8.enough-w-qvga .menu-header .children li,
.ie8.enough-w-iphone .menu-header .children li{
min-width:10em;
float:none;
display:block;
background:none;
margin:0;
}
.ie8.enough-w-keitai .menu-header .sub-menu .sub-menu,
.ie8.enough-w-qvga .menu-header .sub-menu .sub-menu,
.ie8.enough-w-iphone .menu-header .sub-menu .sub-menu,
.ie8.enough-w-keitai .menu-header .children .children,
.ie8.enough-w-qvga .menu-header .children .children,
.ie8.enough-w-iphone .menu-header .children .children{
text-align:center;
float:none;
display:block;
background:none;
}
.ie8.enough-w-keitai .sub-menu a,
.ie8.enough-w-qvga .sub-menu a,
.ie8.enough-w-iphone .submenu a,
.ie8.enough-w-keitai .children a,
.ie8.enough-w-qvga .children a,
.ie8.enough-w-iphone .children a{
height:auto;
display:block;
background:none;
padding:0.8em 0;
}

.ie8.enough-w-keitai body,
.ie8.enough-w-qvga body,
.ie8.enough-w-iphone body,
.ie8.enough-w-vga body {
font-size:80%;
}

.ie8.enough-w-keitai #enough-page,
.ie8.enough-w-qvga #enough-page,
.ie8.enough-w-iphone #enough-page,
.ie8.enough-w-vga #enough-page {
width:94%;
margin:0 auto;
}

.ie8.enough-w-keitai .sticky,
.ie8.enough-w-qvga .sticky,
.ie8.enough-w-iphone .sticky,
.ie8.enough-w-vga .sticky {
margin-left:.4em;
margin-top:.5em;
}

.ie8.enough-w-keitai body,
.ie8.enough-w-qvga body,
.ie8.enough-w-iphone body,
.ie8.enough-w-qvga body,
.ie8.enough-w-iphone body {
font-size:75%;
}

.ie8.enough-w-keitai .menu-header,
.ie8.enough-w-qvga .menu-header,
.ie8.enough-w-iphone .menu-header{
display:block;
width:100%;
}

.ie8.enough-w-keitai .menu-header > ul > li,
.ie8.enough-w-qvga .menu-header > ul > li,
.ie8.enough-w-iphone .menu-header > ul > li{
border-bottom:1px solid #aaa;
display:block!important;
}

.ie8.enough-w-keitai .menu-header li,
.ie8.enough-w-qvga .menu-header li,
.ie8.enough-w-iphone .menu-header li,
.ie8.enough-w-vga .menu-header li{
list-style:none;
margin:0;
}
.ie8.enough-w-keitai .menu-header .sub-menu,
.ie8.enough-w-qvga .menu-header .sub-menu,
.ie8.enough-w-iphone .menu-header .sub-menu,
.ie8.enough-w-keitai .menu-header .children,
.ie8.enough-w-qvga .menu-header .children,
.ie8.enough-w-iphone .menu-header .children{
margin-left:1em;
max-width:100%;
list-style:none;
}
.ie8.enough-w-keitai .menu-header .sub-menu a,
.ie8.enough-w-qvga .menu-header .sub-menu a,
.ie8.enough-w-vga .menu-header .sub-menu a,
.ie8.enough-w-iphone .menu-header .sub-menu a,
.ie8.enough-w-keitai .menu-header a,
.ie8.enough-w-qvga .menu-header a,
.ie8.enough-w-iphone .menu-header a,
.ie8.enough-w-vga .menu-header a,
.ie8.enough-w-keitai .menu-header .children a,
.ie8.enough-w-qvga .menu-header .children a,
.ie8.enough-w-vga .menu-header .children a,
.ie8.enough-w-iphone .menu-header .children a {
display:block;
text-decoration:none;
padding:.5em;
}

.ie8.enough-w-keitai .enough-comment-link,
.ie8.enough-w-qvga .enough-comment-link,
.ie8.enough-w-vga .enough-comment-link,
.ie8.enough-w-iphone .enough-comment-link {
font-size:0.8em;
}

.ie8.enough-w-keitai .posted-in,
.ie8.enough-w-qvga .posted-in,
.ie8.enough-w-iphone .posted-in,
.ie8.enough-w-vga .posted-in,
.ie8.enough-w-keitai .posted-on,
.ie8.enough-w-qvga .posted-on,
.ie8.enough-w-vga .posted-on,
.ie8.enough-w-iphone .posted-on {
width:96%;
left:0;
}

.ie8.enough-w-keitai .entry-content,
.ie8.enough-w-qvga .entry-content,
.ie8.enough-w-vga .entry-content,
.ie8.enough-w-iphone .entry-content {
width:96%;
position:relative;
left:0;
margin:0;
padding:0;
}

.ie8.enough-w-keitai .entry-content h1,
.ie8.enough-w-iphone .entry-content h1,
.ie8.enough-w-vga .entry-content h1,
.ie8.enough-w-qvga .entry-content h1,
.ie8.enough-w-iphone .entry-content {
width:96%;
font-size:24px;
/*word-wrap:break-word;*/
/*word-break:break-all;*/
}

.ie8.enough-w-keitai .entry-content h2,
.ie8.enough-w-qvga .entry-content h2,
.ie8.enough-w-iphone .entry-content h2,
.ie8.enough-w-vga .entry-content h2,
.ie8.enough-w-iphone .entry-content {
width:96%;
font-size:18px;
/*word-wrap:break-word;*/
/*word-break:break-all;*/
}

.ie8.enough-w-keitai .entry-content h3,
.ie8.enough-w-qvga .entry-content h3,
.ie8.enough-w-iphone .entry-content h3,
.ie8.enough-w-vga .entry-content h3,
.ie8.enough-w-iphone .entry-content {
width:96%;
font-size:14px;
/*word-wrap:break-word;*/
/*word-break:break-all;*/
}

.ie8.enough-w-keitai .entry-content h4,
.ie8.enough-w-iphone .entry-content h4,
.ie8.enough-w-vga .entry-content h4,
.ie8.enough-w-qvga .entry-content h4,
.ie8.enough-w-iphone .entry-content {
font-size:13px;
/*word-wrap:break-word;*/
/*word-break:break-all;*/
}

.ie8.enough-w-keitai article img,
.ie8.enough-w-iphone article img,
.ie8.enough-w-vga article img,
.ie8.enough-w-qvga article img,
.ie8.enough-w-iphone article img {
max-width:90%;
margin:0;
}

.ie8 .enough-toggle,
.ie8.enough-w-keitai .toggle-category.toggle-title,
.ie8.enough-w-qvga .toggle-category.toggle-title,
.ie8.enough-w-iphone .toggle-category.toggle-title,
.ie8.enough-w-vga .toggle-category.toggle-title,
.ie8.enough-w-keitai .toggle-tag.toggle-title,
.ie8.enough-w-qvga .toggle-tag.toggle-title,
.ie8.enough-w-iphone .toggle-tag.toggle-title,
.ie8.enough-w-vga .toggle-tag.toggle-title,
.ie8.enough-w-keitai .posted-in li,
.ie8.enough-w-qvga .posted-in li,
.ie8.enough-w-iphone .posted-in li,
.ie8.enough-w-vga .posted-in li,
.ie8.enough-w-qvga .posted-in li,
.ie8.enough-w-iphone .posted-in li {
list-style-type:none;
display:block;
margin:0;
padding:.5em;
}

.ie8.enough-w-keitai .posted-in ul,
.ie8.enough-w-qvga .posted-in ul,
.ie8.enough-w-iphone .posted-in ul,
.ie8.enough-w-vga .posted-in ul {
margin:0;
padding:0;
}

.ie8.enough-w-keitai .posted-in a[rel~=tag],
.ie8.enough-w-qvga .posted-in a[rel~=tag],
.ie8.enough-w-vga .posted-in a[rel~=tag],
.ie8.enough-w-iphone .posted-in a[rel~=tag] {
display:block;
border-bottom:1px solid #999;
padding:.5em;
}

.ie8.enough-w-keitai blockquote,
.ie8.enough-w-qvga blockquote,
.ie8.enough-w-vga blockquote,
.ie8.enough-w-iphone blockquote {
margin:.5em 1.5em;
}

.ie8 .wp-link-pages {
text-align:center;
margin:1em;
}

.ie8 .wp-link-pages span {
font-weight:700;
border:1px solid #999;
}

.ie8 .wp-link-pages a span {
border:none;
font-weight:400;
}

.ie8 .wp-caption {
border:1px solid #ccc;
}

.ie8 .wp-caption-text {
text-align:center;
width:90%;
margin:auto;
}

.ie8 .wp-caption img {
margin:5px;
}

.ie8 .menu-header .page_item a {
text-align:left!important;
}

.ie8.enough-w-keitai .widget_pages,
.ie8.enough-w-qvga .widget_pages,
.ie8.enough-w-iphone .widget_pages,
.ie8.enough-w-keitai .widget_nav_menu,
.ie8.enough-w-qvga .widget_nav_menu,
.ie8.enough-w-iphone .widget_nav_menu,
.ie8.enough-w-keitai .widget_recent_comments,
.ie8.enough-w-qvga .widget_recent_comments,
.ie8.enough-w-iphone .widget_recent_comments,
.ie8.enough-w-keitai .widget_archive,
.ie8.enough-w-qvga .widget_archive,
.ie8.enough-w-keitai .widget_rss,
.ie8.enough-w-qvga .widget_rss,
.ie8.enough-w-keitai nav .widget_meta,
.ie8.enough-w-qvga nav .widget_meta,
.ie8.enough-w-iphone nav .widget_meta {
border:none;
}

.ie8.enough-w-keitai nav,
.ie8.enough-w-qvga nav,
.ie8.enough-w-iphone nav {
clear:both!important;
}

.ie8.enough-w-keitai nav .widget_tag_cloud,
.ie8.enough-w-qvga nav .widget_tag_cloud,
.ie8.enough-w-iphone nav .widget_tag_cloud,
.ie8.enough-w-vga nav .widget_tag_cloud,
.ie8.enough-w-keitai .widget_pages .widgettitle,
.ie8.enough-w-qvga .widget_pages .widgettitle,
.ie8.enough-w-iphone .widget_pages .widgettitle,
.ie8.enough-w-vga .widget_pages .widgettitle,
.ie8.enough-w-keitai .widget_nav_menu .widgettitle,
.ie8.enough-w-qvga .widget_nav_menu .widgettitle,
.ie8.enough-w-iphone .widget_nav_menu .widgettitle,
.ie8.enough-w-vga .widget_nav_menu .widgettitle,
.ie8.enough-w-keitai .widget_recent_comments .widgettitle,
.ie8.enough-w-qvga .widget_recent_comments .widgettitle,
.ie8.enough-w-iphone .widget_recent_comments .widgettitle,
.ie8.enough-w-vga .widget_recent_comments .widgettitle,
.ie8.enough-w-keitai .widget_archive .widgettitle,
.ie8.enough-w-qvga .widget_archive .widgettitle,
.ie8.enough-w-iphone .widget_archive .widgettitle,
.ie8.enough-w-vga .widget_archive .widgettitle,
.ie8.enough-w-keitai .widget_meta .widgettitle,
.ie8.enough-w-qvga .widget_meta .widgettitle,
.ie8.enough-w-iphone .widget_rss .widgettitle,
.ie8.enough-w-keitai .widget_rss .widgettitle,
.ie8.enough-w-qvga .widget_rss .widgettitle,
.ie8.enough-w-iphone .widget_meta .widgettitle,
.ie8.enough-w-vga .widget_meta .widgettitle {
background:none;
max-width:100%;
}

.ie8.enough-w-iphone nav .widget_tag_cloud,
.ie8.enough-w-keitai .widgettitle {
background:none;
}

.ie9 #nav-below .nav-next a {
float:right;
}

.ie9 .wp-link-pages > span {
border:1px solid #999;
font-weight:700;
padding:.5em;
}

.ie9 .wp-link-pages > a >span {
border:1px solid #999;
padding:.5rem;
}

.ie9 #enough-page dl.gallery-item dd.wp-caption-text {
text-align:left;
width:90%;
max-width:150px;
margin:0 auto;
}

.ie8 nav ul ul li,
.ie8 embed,
.ie8 .menu-header .children:hover > a,
.ie8 .menu-header .sub-menu:hover > a,
.ie8 .menu-header li:hover > a,
.ie8 .menu-header .children:hover > a,
.ie8 .menu-header .sub-menu:hover > a,
.ie8 .menu-header ul li:hover > .children,
.ie8 .menu-header ul li:hover > .sub-menu,
.ie8.enough-w-keitai .menu-header .children:hover > a,
.ie8.enough-w-keitai .menu-header .sub-menu:hover > a,
.ie8.enough-w-qvga .menu-header .children:hover > a,
.ie8.enough-w-qvga .menu-header .sub-menu:hover > a,
.ie8.enough-w-iphone .menu-header .children:hover > a,
.ie8.enough-w-iphone .menu-header .sub-menu:hover > a,
.ie8.enough-w-vga .menu-header .children:hover > a,
.ie8.enough-w-vga .menu-header .submenu:hover > a,
.ie8.enough-w-keitai .menu-header li:hover > a,
.ie8.enough-w-qvga .menu-header li:hover > a,
.ie8.enough-w-iphone .menu-header li:hover > a,
.ie8.enough-w-vga .menu-header li:hover > a,
.ie8.enough-w-keitai .menu-header .children:hover > a,
.ie8.enough-w-keitai .menu-header .sub-menu:hover > a,
.ie8.enough-w-qvga .menu-header .children:hover > a,
.ie8.enough-w-qvga .menu-header .sub-menu:hover > a,
.ie8.enough-w-iphone .menu-header .children:hover > a,
.ie8.enough-w-iphone .menu-header .sub-menu:hover > a,
.ie8.enough-w-vga .menu-header .children:hover > a,
.ie8.enough-w-vga .menu-header .sub-menu:hover > a,
.ie8.enough-w-qvga .menu-header .children:hover > a,
.ie8.enough-w-qvga .menu-header .sub-menu:hover > a,
.ie8.enough-w-iphone .menu-header .children:hover > a,
.ie8.enough-w-iphone .menu-header .sub-menu:hover > a,
.ie8.enough-w-vga .menu-header .children:hover > a,
.ie8.enough-w-vga .menu-header .sub-menu:hover > a,
.ie8.enough-w-keitai .menu-header ul li:hover > .children,
.ie8.enough-w-keitai .menu-header ul li:hover > .sub-menu,
.ie8.enough-w-qvga .menu-header ul li:hover > .children,
.ie8.enough-w-qvga .menu-header ul li:hover > .sub-menu,
.ie8.enough-w-iphone .menu-header ul li:hover > .children,
.ie8.enough-w-iphone .menu-header ul li:hover > .sub-menu,
.ie8.enough-w-vga .menu-header ul li:hover > .children,
.ie8.enough-w-vga .menu-header ul li:hover > .sub-menu,
.ie8.enough-w-qvga .menu-header ul li:hover > .children,
.ie8.enough-w-qvga .menu-header ul li:hover > .sub-menu,
.ie8.enough-w-iphone .menu-header ul li:hover > .children,
.ie8.enough-w-iphone .menu-header ul li:hover > .sub-menu,
.ie8.enough-w-vga .menu-header ul li:hover > .children,
.ie8.enough-w-vga .menu-header ul li:hover > .sub-menu,
.ie8.enough-w-keitai noscript .no-script-and-small-view,
.ie8.enough-w-qvga noscript .no-script-and-small-view,
.ie8.enough-w-iphone noscript .no-script-and-small-view,
.ie8.enough-w-vga noscript .no-script-and-small-view,
.ie8.enough-w-qvga noscript .no-script-and-small-view,
.ie8.enough-w-iphone noscript .no-script-and-small-view {
display:block;
}

.ie8 .menu-header ul,
.ie8.enough-w-keitai .menu-header ul,
.ie8.enough-w-qvga .menu-header ul,
.ie8.enough-w-iphone .menu-header ul,
.ie8.enough-w-qvga .menu-header ul,
.ie8.enough-w-qvga .menu-header ul,
.ie8.enough-w-vga .menu-header ul,
.ie8.enough-w-qvga .menu-header ul,
.ie8.enough-w-iphone .menu-header ul {
vertical-align:baseline;
margin:0;
padding:0;
}

.ie8 .menu-header a,
.ie8.enough-w-keitai .menu-header a,
.ie8.enough-w-qvga .menu-header a,
.ie8.enough-w-iphone .menu-header a,
.ie8.enough-w-vga .menu-header a {
display:block;
text-decoration:none;
text-align:center;
min-width:5em;
padding:.5em;
}

.ie8 .menu-header li.current-menu-ancestor > a,
.ie8 .menu-header li.current-menu-item > a,
.ie8 .menu-header li.current-menu-parent > a,
.ie9 .wp-link-pages {
text-align:center;
}

.ie8.enough-w-keitai article,
.ie8.enough-w-qvga article,
.ie8.enough-w-iphone article,
.ie8.enough-w-vga article,
.ie8.enough-w-keitai body.page article,
.ie8.enough-w-qvga body.page article,
.ie8.enough-w-iphone body.page article,
.ie8.enough-w-vga body.page article,
.ie8.enough-w-keitai nav,
.ie8.enough-w-qvga nav,
.ie8.enough-w-iphone nav,
.ie8.enough-w-vga nav {
width:94%;
margin:0 2%;
}

.ie8 .attachment-post-thumbnail,
.ie8 .wp-post-image{
	max-width:90%!important;
	margin:0 3%;
	height:auto;
}



.ie9 .menu-header .sub-menu .sub-menu.left,
.ie9 .menu-header .children .children.left,
.ie8 .menu-header .sub-menu .sub-menu.left,
.ie8 .menu-header .children .children.left {
	left: -100%;
	top: 0;
	text-align:center;
}
.ie8.enough-w-vga nav .widget{
	border:none!important;
}
.ie8 header h2,
.ie8 header h1{
	margin:0 15px;
}
.ie9 a > img,
.ie9 a > img,
.ie9 a > img,
.ie8 a > img,
.ie8 a > img,
.ie8 a > img{
padding:1em;
 }
.ie9 .wp-caption a > img,
.ie9 .wp-caption a > img,
.ie9 .wp-caption a > img,
.ie8 .wp-caption a > img,
.ie8 .wp-caption a > img,
.ie8 .wp-caption a > img{
padding:0;
}
.ie8 .sticky{
	margin-top:5px;
}
.ie8 article.sticky{
	background:#fff;
	margin-left:10px;
} 

.ie8.enough-w-keitai article .entry-title,
.ie8.enough-w-iphone article .entry-title,
.ie8.enough-w-vga article .entry-title,
.ie8.enough-w-qvga article .entry-title,
.ie8.enough-w-iphone article .entry-title,
.ie8.enough-w-keitai article .entry-content,
.ie8.enough-w-iphone article .entry-content,
.ie8.enough-w-vga article .entry-content,
.ie8.enough-w-qvga article .entry-content,
.ie8.enough-w-iphone article .entry-content{
	max-width:100%;
	margin:0;
}
.ie8.enough-iphone .entry-content .alignright,
.ie8.enough-iphone .entry-content .alignleft{
		float:none;
		clear:both;
		display:block;
		margin:0 auto;

}
.ie8 #enough-page{background:#fff;}

.ie8.home .sticky,
.id8 .format-standard,
.ie8 .format-chat,
.ie8 .format-aside,
.ie8 .format-audio,
.ie8 .format-link,
.ie8 .format-video,
.ie8 .format-gallery,
.ie8 .format-link,
.ie8 .format-status,
.ie8 .format-image,
.ie8 .format-quote,
.ie8 #enough-page{
	background:#fff;
	margin-left:10px;
}
.e8 .gallery-icon{
	border:none!important;
}
.ie8 .attachment-thumbnail{
	border: 1px solid #fff!important;
	background-color: #fff!important;
}
.ie8 .menu-header .sub-menu .sub-menu{
	position:static;
	position:relative;
}
.ie8 .menu-header .sub-menu .sub-menu li{
	position:absolute;
	top:-58px;
	left:10em;
}
.ie8 .menu-header .sub-menu li,
.ie8 .menu-header .sub-menu .sub-menu li{
	border:1px solid #ccc;
}
.ie8 .site-title,
.ie8 .site-description{
	margin:16px;
}