/**
 * Style rules for WordPress theme Enough
 *
 *
 * License: GNU General Public License v2.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * @package Enough
 */
.ie8 article{
	width:66.6%;
	padding-left:1em;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box;
}

body.page article{
	width:96.6%;
	margin:0 auto;
}
.ie8 nav {
	width:28%;
	padding-right:1em;
	margin-left:70%;
	margin-top:-1.2em;
	padding-top:1em;
	
	padding-top:1em;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box;
}

.ie8 nav{
	min-width:30%!important;
}
.ie8 nav ul ul li{
	display:block;
}


.ie8 nav ul{
	margin-top:0;
	margin-left:.5em;
	padding-left:0.4em;
}
.ie8 nav li{
	margin-left:0;
	padding-left:0;
}
.ie8 nav input{
	max-width:80%;
}
.ie8 nav > ul > li{
	border-bottom:1px solid #ccc;
}

.ie8 .posted-in,
.ie8 .posted-on,
.ie8 #commentform{
 	background:#eef;
	color:#333;
}

.ie8 .posted-in,
.ie8 .posted-on{
	padding:.3em;
	margin-bottom:1em;
}
.ie8 .posted-in ul{
	margin-left:1em;
	padding-left:0;
}
.ie8 .menu-header {
}
/*comment*/

.ie8 .wp-list-comments .odd{
	background:#eef
}
.ie8 .wp-list-comments .even{
	background:#eff
}

.ie8 img{
	height:auto!important;
}

.ie8 .comment-body{
	word-wrap:break-word;
	word-break:break-all;
} 
.ie8 .nav-next{
	diaplay:inline;
	float:right;
}
.ie8 blockquote{
	padding:1em;
}
.ie8 embed{
	display:block;
}
.ie8 .comment-meta{
	position:static;
}

.ie8 .menu-header {
	display: inline-block;
	width:100%;
	font-size:0.9em;
}
.ie8 .menu-header ul{
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
.ie8 .menu-header li{
	margin:0;
	list-style-type:none;
}
.ie8 .menu-header a {
	display: block;
	text-decoration: none;
	text-align:center;
	padding:.5em; /* IE8 not support em */
	padding:.5em;
	
	min-width:5em;
}
.ie8 .menu-header > ul > li{
	float:left;
	position:relative;
}
.ie8 .menu-header .children {
	display: none;
	position: absolute;
	top: 2em;
	left: 0;
	float: left;
	width: 10em;
	z-index: 99;
	text-align:center;
}
.ie8 .menu-header .children li {
 	min-width:10em;/* IE8 not support em */
	min-width: 10em;
	margin:0;
}
.ie8 .menu-header .children .children {
	left: 100%;
	top: -1px;
	text-align:center;
}
.ie8 .children a {
	line-height: 1em;/* IE8 not support em */
	padding:0.8em ;/* IE8 not support em */

	height: auto;
}
.ie8 .menu-header .children:hover > a,

.ie8 .menu-header li:hover > a,
.ie8 .menu-header .children:hover > a,
.ie8 .menu-header ul li:hover > .children {
	display:block;
}
.ie8 .menu-header li.current_page_item > a,
.ie8 .menu-header li.current-menu-ancestor > a,
.ie8 .menu-header li.current-menu-item > a,
.ie8 .menu-header li.current-menu-parent > a {
	text-align:center;
}

.ie8.width200   .menu-header ,
.ie8.width300   .menu-header ,
.ie8.width400   .menu-header ,
.ie8.width500   .menu-header ,
.ie8.width300  .menu-header ,
.ie8.width400  .menu-header ,
.ie8.width500  .menu-header {
	display:block;
	width:100%;
	font-size:0.9em;
}
.ie8.width200   .menu-header ul,
.ie8.width300   .menu-header ul,
.ie8.width400   .menu-header ul,
.ie8.width500   .menu-header ul,
.ie8.width300  .menu-header ul,
.ie8.width400  .menu-header ul,
.ie8.width500  .menu-header ul{
	margin: 0;padding: 0;vertical-align: baseline;
}
.ie8.width200   .menu-header li,
.ie8.width300   .menu-header li,
.ie8.width400   .menu-header li,
.ie8.width500   .menu-header li,
.ie8.width300  .menu-header li,
.ie8.width400  .menu-header li,
.ie8.width500  .menu-header li{
	margin:0;list-style-type:none;
	display:block;
}
.ie8.width200   .menu-header a ,
.ie8.width300   .menu-header a ,
.ie8.width400   .menu-header a ,
.ie8.width500   .menu-header a ,
.ie8.width300  .menu-header a ,
.ie8.width400  .menu-header a ,
.ie8.width500  .menu-header a {
	display: block;
	text-decoration: none;
	text-align:center;
	padding:.5em;
	min-width:5em;
}
.ie8.width200   .menu-header > ul > li,
.ie8.width300   .menu-header > ul > li,
.ie8.width400   .menu-header > ul > li,
.ie8.width500   .menu-header > ul > li,
.ie8.width300  .menu-header > ul > li,
.ie8.width400  .menu-header > ul > li,
.ie8.width500  .menu-header > ul > li{
	float:none;
	display:block;
}
.ie8.width200   .menu-header .children ,
.ie8.width300   .menu-header .children ,
.ie8.width400   .menu-header .children ,
.ie8.width500   .menu-header .children ,
.ie8.width300  .menu-header .children ,
.ie8.width400  .menu-header .children ,
.ie8.width500  .menu-header .children {
	position: static;
	float: none;
	text-align:center;
	display:block;
	background:none;
}
.ie8.width200   .menu-header .children li ,
.ie8.width300   .menu-header .children li ,
.ie8.width400   .menu-header .children li ,
.ie8.width500   .menu-header .children li ,
.ie8.width300  .menu-header .children li ,
.ie8.width400  .menu-header .children li ,
.ie8.width500  .menu-header .children li {
	min-width: 10em;
	margin:0;
	float:none;
	display:block;
	background:none;
}
.ie8.width200   .menu-header .children .children ,
.ie8.width300   .menu-header .children .children ,
.ie8.width400   .menu-header .children .children ,
.ie8.width500   .menu-header .children .children ,
.ie8.width300  .menu-header .children .children ,
.ie8.width400  .menu-header .children .children ,
.ie8.width500  .menu-header .children .children {
	text-align:center;
	float:none;
	display:block;
	background:none;
}
.ie8.width200   .children a ,
.ie8.width300   .children a ,
.ie8.width400   .children a ,
.ie8.width500   .children a ,
.ie8.width300  .children a ,
.ie8.width400  .children a ,
.ie8.width500  .children a {
	padding:0.8em 0;height: auto;
	display:block;
	background:none;
}
.ie8.width200  .menu-header .children:hover > a,
.ie8.width300  .menu-header .children:hover > a,
.ie8.width400  .menu-header .children:hover > a,
.ie8.width500  .menu-header .children:hover > a,

.ie8.width200  .menu-header li:hover > a,
.ie8.width300  .menu-header li:hover > a,
.ie8.width400  .menu-header li:hover > a,
.ie8.width500  .menu-header li:hover > a,

.ie8.width200   .menu-header .children:hover > a ,
.ie8.width300   .menu-header .children:hover > a ,
.ie8.width400   .menu-header .children:hover > a ,
.ie8.width500   .menu-header .children:hover > a ,
.ie8.width300  .menu-header .children:hover > a ,
.ie8.width400  .menu-header .children:hover > a ,
.ie8.width500  .menu-header .children:hover > a {
	display:block;	
}
.ie8.width200   .menu-header ul li:hover > .children ,
.ie8.width300   .menu-header ul li:hover > .children ,
.ie8.width400   .menu-header ul li:hover > .children ,
.ie8.width500   .menu-header ul li:hover > .children ,
.ie8.width300  .menu-header ul li:hover > .children ,
.ie8.width400  .menu-header ul li:hover > .children ,
.ie8.width500  .menu-header ul li:hover > .children {
	display:block;
}
.ie8.width200  .menu-header li.current_page_item > a,
.ie8.width300  .menu-header li.current_page_item > a,
.ie8.width400  .menu-header li.current_page_item > a,
.ie8.width500  .menu-header li.current_page_item > a,
.ie8.width200  .menu-header li.current-menu-ancestor > a,
.ie8.width300  .menu-header li.current-menu-ancestor > a,
.ie8.width400  .menu-header li.current-menu-ancestor > a,
.ie8.width500  .menu-header li.current-menu-ancestor > a,
.ie8.width200  .menu-header li.current-menu-item > a,
.ie8.width300  .menu-header li.current-menu-item > a,
.ie8.width400  .menu-header li.current-menu-item > a,
.ie8.width500  .menu-header li.current-menu-item > a,
.ie8.width200   .menu-header li.current-menu-parent > a ,
.ie8.width300   .menu-header li.current-menu-parent > a ,
.ie8.width400   .menu-header li.current-menu-parent > a ,
.ie8.width500   .menu-header li.current-menu-parent > a ,
.ie8.width300  .menu-header li.current-menu-parent > a ,
.ie8.width400  .menu-header li.current-menu-parent > a ,
.ie8.width500  .menu-header li.current-menu-parent > a {
	
}


.ie8.width200 body,
.ie8.width300 body,
.ie8.width400 body,
.ie8.width500 body{
font-size:80%;}
.ie8.width200 #page,
.ie8.width300 #page,
.ie8.width400 #page,
.ie8.width500 #page{
width:94%;margin:0 auto;}
.ie8.width200 article,
.ie8.width300 article,
.ie8.width400 article,
.ie8.width500 article{
width:94%;margin:0 2%;}
.ie8.width200 body.page article,
.ie8.width300 body.page article,
.ie8.width400 body.page article,
.ie8.width500 body.page article{
width:94%;margin:0 2%;}
.ie8.width200 nav ,
.ie8.width300 nav ,
.ie8.width400 nav ,
.ie8.width500 nav {
width:94%;margin:0 2%;}
.ie8.width200 .sticky,
.ie8.width300 .sticky,
.ie8.width400 .sticky,
.ie8.width500 .sticky{
margin-left:.4em;margin-top:.5em;}

/**
 *
 *
 *
 *
 *
 */

.ie8.width200 body,
.ie8.width300 body,
.ie8.width400 body,
.ie8.width300 body,
.ie8.width400 body{
	font-size:75%;
}
.ie8.width200 .menu-header ,
.ie8.width300 .menu-header ,
.ie8.width400 .menu-header ,
.ie8.width500 .menu-header ,
.ie8.width300 .menu-header ,
.ie8.width400 .menu-header {
	display: block;width:100%;
}
.ie8.width200 .menu-header ul,
.ie8.width300 .menu-header ul,
.ie8.width400 .menu-header ul,
.ie8.width500 .menu-header ul,
.ie8.width300 .menu-header ul,
.ie8.width400 .menu-header ul{
	margin: 0;padding: 0;vertical-align: baseline;
}
.ie8.width200 .menu-header > ul > li,
.ie8.width300 .menu-header > ul > li,
.ie8.width400 .menu-header > ul > li,
.ie8.width500 .menu-header > ul > li,
.ie8.width300 .menu-header > ul > li,
.ie8.width400 .menu-header > ul > li{
	border-bottom:1px solid #aaa;
	display:block!important;
}
.ie8.width200 .menu-header li,
.ie8.width300 .menu-header li,
.ie8.width400 .menu-header li,
.ie8.width500 .menu-header li,
.ie8.width300 .menu-header li,
.ie8.width400 .menu-header li{
	margin:0;list-style:none;
	
}
.ie8.width200 .menu-header .children,
.ie8.width300 .menu-header .children,
.ie8.width400 .menu-header .children,
.ie8.width500 .menu-header .children,
.ie8.width300 .menu-header .children,
.ie8.width400 .menu-header .children{
	margin-left:1em;
	
	max-width:100%;
	list-style:none;
}
.ie8.width200 .menu-header  a,
.ie8.width300 .menu-header  a,
.ie8.width400 .menu-header  a,
.ie8.width500 .menu-header  a,
.ie8.width200 .menu-header .children a,
.ie8.width300 .menu-header .children a,
.ie8.width400 .menu-header .children a,
.ie8.width500 .menu-header .children a,
.ie8.width300 .menu-header .children a,
.ie8.width400 .menu-header .children a{
	display: block;
	padding:.5em;
	text-decoration:none;
}
.ie8.width200 .enough-comment-link,
.ie8.width300 .enough-comment-link,
.ie8.width400 .enough-comment-link,
.ie8.width500 .enough-comment-link,
.ie8.width300 .enough-comment-link,
.ie8.width400 .enough-comment-link{
	font-size:0.8em;
}
.ie8.width200 noscript .no-script-and-small-view,
.ie8.width300 noscript .no-script-and-small-view,
.ie8.width400 noscript .no-script-and-small-view,
.ie8.width500 noscript .no-script-and-small-view,
.ie8.width300 noscript .no-script-and-small-view,
.ie8.width400 noscript .no-script-and-small-view{
	display:block;
}
.ie8.width200 .posted-in,
.ie8.width300 .posted-in,
.ie8.width400 .posted-in,
.ie8.width500 .posted-in,
.ie8.width200 .posted-on ,
.ie8.width300 .posted-on ,
.ie8.width400 .posted-on ,
.ie8.width500 .posted-on ,
.ie8.width300 .posted-on ,
.ie8.width400 .posted-on {
width:96%;
	left:0;
}
.ie8.width200 .entry-content,
.ie8.width300 .entry-content,
.ie8.width400 .entry-content,
.ie8.width500 .entry-content,
.ie8.width300 .entry-content,
.ie8.width400 .entry-content{
	margin:0;
	padding:0;
	width:96%;
	position:relative;
	left:0;	
}
.ie8.width200 .entry-content h1,
.ie8.width300 .entry-content h1,
.ie8.width400 .entry-content h1,
.ie8.width500 .entry-content h1,
.ie8.width300 .entry-content h1,
.ie8.width400 .entry-content{
	width:96%;
	font-size:24px;
	word-wrap:break-word;
	word-break:break-all;

}
.ie8.width200 .entry-content h2,
.ie8.width300 .entry-content h2,
.ie8.width400 .entry-content h2,
.ie8.width500 .entry-content h2,
.ie8.width300 .entry-content h2,
.ie8.width400 .entry-content{
	width:96%;
	font-size:18px;
	word-wrap:break-word;
	word-break:break-all;
	
}
.ie8.width200 .entry-content h3,
.ie8.width300 .entry-content h3,
.ie8.width400 .entry-content h3,
.ie8.width500 .entry-content h3,
.ie8.width300 .entry-content h3,
.ie8.width400 .entry-content{
	width:96%;
	font-size:14px;
	word-wrap:break-word;
	word-break:break-all;
}
.ie8.width200 .entry-content h4,
.ie8.width300 .entry-content h4,
.ie8.width400 .entry-content h4,
.ie8.width500 .entry-content h4,
.ie8.width300 .entry-content h4,
.ie8.width400 .entry-content{
	font-size:13px;
	word-wrap:break-word;
	word-break:break-all;
}

.ie8.width200 article img,
.ie8.width300 article img,
.ie8.width400 article img,
.ie8.width500 article img,
.ie8.width300 article img,
.ie8.width400 article img{
	max-width:100%;margin:0;
}
.ie8 .enough-toggle,
.ie8.width200 .toggle-category.toggle-title,
.ie8.width300 .toggle-category.toggle-title,
.ie8.width400 .toggle-category.toggle-title,
.ie8.width500 .toggle-category.toggle-title,
.ie8.width200 .toggle-tag.toggle-title,
.ie8.width300 .toggle-tag.toggle-title,
.ie8.width400 .toggle-tag.toggle-title,
.ie8.width500 .toggle-tag.toggle-title,
.ie8.width200 .posted-in li,
.ie8.width300 .posted-in li,
.ie8.width400 .posted-in li,
.ie8.width500 .posted-in li,
.ie8.width300 .posted-in li,
.ie8.width400 .posted-in li{
	list-style-type:none;
	display:block;
	padding:.5em;
	margin:0;
}
.ie8.width200 .posted-in ul,
.ie8.width300 .posted-in ul,
.ie8.width400 .posted-in ul,
.ie8.width500 .posted-in ul,
.ie8.width300 .posted-in ul,
.ie8.width400 .posted-in ul,
.ie8.width500 .posted-in ul{
	margin:0;padding:0;
}
.ie8.width200 .posted-in a[rel~="tag"],
.ie8.width300 .posted-in a[rel~="tag"],
.ie8.width400 .posted-in a[rel~="tag"],
.ie8.width500 .posted-in a[rel~="tag"],
.ie8.width300 .posted-in a[rel~="tag"],
.ie8.width400 .posted-in a[rel~="tag"]{
	display:block;
	padding:.5em;
	border-bottom:1px solid #999;
}
.ie8.width200 blockquote,
.ie8.width300 blockquote,
.ie8.width400 blockquote,
.ie8.width500 blockquote,
.ie8.width300 blockquote,
.ie8.width400 blockquote{
	margin:.5em 1.5em;
}
.ie8 .wp-link-pages{
	margin:1em;
	text-align:center;
}
.ie8 .wp-link-pages span{
	font-weight:bold;
	border:1px solid #999;

}

.ie8 .wp-link-pages  a span{
	border:none;
	font-weight:normal;

}
.ie8 .wp-caption{
	border:1px solid #ccc;
}
.ie8 .wp-caption-text{
	text-align:center;
	width:90%;
	margin:auto;
}
.ie8 .wp-caption img{
	margin:5px;
}
.ie8 .menu-header .page_item a{
	text-align:left!important;
}

.ie8.width200 .widget_pages,
.ie8.width300 .widget_pages,
.ie8.width400 .widget_pages,
.ie8.width200 .widget_nav_menu,
.ie8.width300 .widget_nav_menu,
.ie8.width400 .widget_nav_menu,
.ie8.width200 .widget_recent_comments,
.ie8.width300 .widget_recent_comments,
.ie8.width400 .widget_recent_comments,
.ie8.width200 .widget_archive,
.ie8.width300 .widget_archive,
.ie8.width400 .widget_archive,
.ie8.width200 nav .widget_meta,
.ie8.width300 nav .widget_meta,
.ie8.width400 nav .widget_meta{
	border:none;
}
.ie8.width200 nav,
.ie8.width300 nav,
.ie8.width400 nav{
	clear:both!important;
}

.ie8.width200 nav .widget_tag_cloud,
.ie8.width300 nav .widget_tag_cloud,
.ie8.width400 nav .widget_tag_cloud,
.ie8.width200 .widget_pages .widgettitle,
.ie8.width300 .widget_pages .widgettitle,
.ie8.width400 .widget_pages .widgettitle,
.ie8.width200 .widget_nav_menu .widgettitle,
.ie8.width300 .widget_nav_menu .widgettitle,
.ie8.width400 .widget_nav_menu .widgettitle,
.ie8.width200 .widget_recent_comments .widgettitle,
.ie8.width300 .widget_recent_comments .widgettitle,
.ie8.width400 .widget_recent_comments .widgettitle,
.ie8.width200 .widget_archive .widgettitle,
.ie8.width300 .widget_archive .widgettitle,
.ie8.width400 .widget_archive .widgettitle,
.ie8.width200 .widget_meta .widgettitle,
.ie8.width300 .widget_meta .widgettitle,
.ie8.width400 .widget_meta .widgettitle{
	background:none;
	max-width:100%;
}
.ie8.width400 nav .widget_tag_cloud,
.ie8.width200 .widgettitle{
	background:none;
}

/**
 * ie9
 *
 *
 *
 *
 */
.ie9 #nav-below{
	
}
.ie9 #nav-below .nav-next a{
	float:right;
}
.ie9 .wp-link-pages{
	text-align:center;
}
.ie9 .wp-link-pages > span {
	padding: .5em;
	border: 1px solid #999;
	font-weight: bold;
}
.ie9 .wp-link-pages > a >span {
	padding: .5rem;
	border: 1px solid #999;
}
.ie9 #page dl.gallery-item dd.wp-caption-text {
	text-align: left;
	width: 90%;
	margin: 0 auto;
	max-width:150px;
}